.home {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.home-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 16px;
  color: #777;
  margin-bottom: 20px;
}

.home-btn {
  padding: 12px 20px;
  border-radius: 12px;
  border: none;

  background: #111;
  color: white;
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  transition: 0.2s;
}

.home-btn:hover {
  background: #333;
}

.groups-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 16px;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
}

.group-card {
  padding: 20px;
  border-radius: 16px;
  border: 1px solid black;

  background: #f9f9f7;
  cursor: pointer;

  font-weight: 600;
  font-size: 15px;
  transition: 0.2s;
}

.group-card:hover {
  background: #f3f3f1;
}

.add-card {
  border-style: dashed;
  color: #777;
  font-weight: 500;
}

.add-card:hover {
  color: #111;
  background: #f3f3f1;
}